---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// https://kld.dev/building-table-of-contents/
const { headings = [] } = Astro.props;

export interface Heading {
  depth: number;
  slug: string;
  text: string;
  subheadings?: Heading[];
}

function buildToc(headings: Heading[]) {
  const toc: Heading[] = [];
  const parentHeadings = new Map();

  headings.forEach((h) => {
    // 1. 기본 구조 정의 (subheadings 보장)
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);

    // 2. 최상위(H2)인 경우
    if (heading.depth === 2) {
      toc.push(heading);
    } 
    // 3. 하위 레벨인 경우 (H3, H4...)
    else if (heading.depth > 2) {
      const parent = parentHeadings.get(heading.depth - 1);
      if (parent) {
        // 부모가 있을 때만 push
        parent.subheadings.push(heading);
      } else {
        // 만약 부모(바로 위 레벨)가 없다면 최상위에 그냥 넣음 (에러 방지)
        toc.push(heading);
      }
    }
  });
  return toc;
}

const toc = buildToc(headings);
---

{toc.length > 0 && (
  <details
    open
    class="animate group rounded-lg border border-black/15 dark:border-white/20"
  >
    <summary
      class="cursor-pointer rounded-t-lg px-3 py-1.5 font-medium transition-colors group-open:bg-black/5 hover:bg-black/5 dark:group-open:bg-white/5 hover:dark:bg-white/5"
    >
      Table of Contents
    </summary>
    <nav>
      <ul class="py-3">
        {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
      </ul>
    </nav>
  </details>
)}